.order 
    .order-history
        .base-title
            p Order History
        .order-history__item    
            .order-date 24.12.2016
            .item
                .item-photo
                    img(src="i/products/shirt-1.png", alt="")
                .item-dscr
                    p #[b #235827]
                    p Custom Port Authority Silk Touch Polo Shirt
                    p Color: #[img(src="i/colors/white.jpg", alt="")] #[span 5 of 8 colors]
                .item-info
                    p.title Size:
                    p
                        span #[b S:] 250
                        span #[b M:] 10
                    p #[small Total Qty: 260]
                .item-info
                    p.title Total:
                    p #[b $22 715.20]
            .item
                .item-photo
                    img(src="i/products/shirt-2.png", alt="")
                .item-dscr
                    p Custom Port Authority Silk
                    p Color: #[img(src="i/colors/red1.jpg", alt="")] #[span 5 of 8 colors]
                .item-info
                    p.title Size:
                    p
                        span #[b S:] 250
                        span #[b M:] 10
                    p #[small Total Qty: 260]
                .item-info
                    p.title Total:
                    p #[b $22 715.20]
            a(href="").base-link
                span Repeat Order
                svg
                    use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#link")
        .order-history__item    
            .order-date 04.02.2017
            .item
                .item-photo
                    img(src="i/products/shirt-3.png", alt="")
                .item-dscr
                    p #[b #653827]
                    p Custom Port Authority Silk Touch Polo Shirt
                    p Color: #[img(src="i/colors/green.jpg", alt="")] #[span 5 of 8 colors]
                .item-info
                    p.title Size:
                    p
                        span #[b S:] 250
                        span #[b M:] 10
                    p #[small Total Qty: 260]
                .item-info
                    p.title Total:
                    p #[b $22 715.20]
            a(href="").base-link
                span Repeat Order
                svg
                    use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#link")
        .order-history__item    
            .order-date 15.03.2017
            .item
                .item-photo
                    img(src="i/products/shirt-5.png", alt="")
                .item-dscr
                    p #[b #7890827]
                    p Custom Port Authority Silk Touch Polo Shirt
                    p Color: #[img(src="i/colors/violet.jpg", alt="")] #[span 5 of 8 colors]
                .item-info
                    p.title Size:
                    p
                        span #[b S:] 250
                        span #[b M:] 10
                    p #[small Total Qty: 260]
                .item-info
                    p.title Total:
                    p #[b $22 715.20]
            a(href="").base-link
                span Repeat Order
                svg
                    use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#link")            
    .order-sidebar
        .discount
            .discount-line
            
                .progress(data-perc="76")
                
                .step.mod-ready(data-step="0") 0%
                .comment(data-step="0") You order below $10 000
                .step.mod-ready(data-step="5") 5%
                .comment(data-step="5") You order below $30 000
                .step.mod-current(data-step="10") 10% #[span #[i Your Discount]]
                .comment(data-step="10") You order below $70 000
                .step(data-step="15") 15%
                
                .shank
                    p #[b $10 456] for next tier
        .coupons
            .base-title
                p Discount coupons
            .base-text
                p You can invite friends. For each  nvited friend and for his purchases, you get an additional discount
                p #[b Link:] #[a(href="https://www.sanmar.com/marketing/ecatalog.jsp", target="_blank").link https://www.sanmar.com/marketing/ecatalog.jsp]
                p Invated people: #[b 2] #[br]Your discount: #[b 5%]
