.steps-block
    .steps-block__title Our Silk Screen Printing Services Process
    .steps-block__item
        p
            img(src="i/steps/step-1.png", alt="")
        p You give us a design. We've optimized this process to make it as simple as possible for all of our customers. You can either submit your own design to us, create one using our state-of-the-art Design Studio, or select from a variety of easy-to-customize pre-made templates and fonts in our expansive graphic library. This is where your job ends, and ours begins. 
    .steps-block__item
        p
            img(src="i/steps/step-2.png", alt="")
        p Next, the dedicated and visionary staff in our art and design departments analyze every single submission to see what works and what doesn’t. They separate every color into separate screens, clean them up, and prepare them for printing. After you approve the final design, we ship it off to the printers. 
    .steps-block__item
        p
            img(src="i/steps/step-3.png", alt="")
        p Each screen gets “inked up” with the approved color, and each shirt is then printed in correct color order. Our flash-drying process between each individual screen ensures crisp quality and prevents color bleeding. 
    .steps-block__item
        p
            img(src="i/steps/step-4.png", alt="")
        p The finished product is dried at 380 degrees Fahrenheit for 25 seconds on one of our conveyer dryers. This process makes for a thorough and even curing of the ink to the fabric, which ensures your design won’t crack, fade, peel, or wash off.
    .steps-block__item
        p
            img(src="i/steps/step-5.png", alt="")
        p Each t-shirt is undergoes a rigorous quality assurance inspection by one of our floor managers. After every t-shirt gains their approval, it’s time to ship! 
    .steps-block__item
        p
            img(src="i/steps/step-6.png", alt="")
        p We ship your order right to your door. Each customer is given a UPS tracking number, guaranteed delivery date, and email confirmation upon order completion. 
    .steps-block__item
        p
            img(src="i/steps/step-7.png", alt="")
        p You get your beautiful t-shirts, fall in love with them, wear them often, and post nice things about us on Yelp, Facebook, Google, or just shout it from your rooftop!
    .steps-block__item.mod-img
        img(src="i/services-step.png", alt="")
