.quote-block
    .container
        .quote            
            .quote-text We are Your Printer &amp; Your Partner. We can grow faster, together. 
        .base-text
            p Founded in 2011 by Devyn &amp; Adryan Lado, Garment Decor has come a long way from its beginnings in their parent’s garage. When the twins first started out, their passion for clothing drove them to buy their first machine, and gave them the impetus to turn hard work and inspiration into to a booming screen printing &amp; embroidery company. We now serve customers all over US, and are thrilled to be a part of the modern wing of the clothing industry.
            
