.gallery
    .gallery__item.mod-square.t-shirt
        a(href="")
        .gallery-title 
            span T-Shirts
    .gallery__item.mod-square.polo
        a(href="")
        .gallery-title 
            span Polos
    .gallery__item.mod-hor.tank
        a(href="")
        .gallery-title 
            span Tank Top
    .gallery__item.mod-hor.tee
        a(href="")
        .gallery-title 
            span Baseball Tee
    .gallery__item.mod-square.sleeve
        a(href="")
        .gallery-title 
            span Long Sleeve
    .gallery__item.mod-vert.shorts
        a(href="")
        .gallery-title 
            span Shorts
    .gallery__item.mod-vert.activewear
        a(href="")
        .gallery-title 
            span Activewear
    .gallery__item.mod-big-square.outerwear
        a(href="")
        .gallery-title 
            span Outerwear
    .gallery__item.mod-square.hoodies
        a(href="")
        .gallery-title 
            span Hoodies
    .gallery__item.mod-big-hor.bags
        a(href="")
        .gallery-title 
            span Tote Bags
    .gallery__item.mod-hor.hats
        a(href="")
        .gallery-title 
            span Hats
