.hero-block
    .container
        .hero-block__dscr
            h2.hero-block__title
                p We shoot for the stars
            .base-text
                p Welcome to Garment Decor, your number one source for all things apparel and merchandise related. We’re dedicated to giving you the very best of us, with a focus on quality, dependability, and quickness.
                p We would be happy to invite you to tour our factory, sample our   different t shirts, and learn about how our automated production facility helps create premium quality apparel that people talk about for years to come.
        .hero-block__caption 
            p #[span Devyn &amp; Adryan Lado] founders
