script(src="js/libs/jquery-3.2.1.min.js")
script(src="js/plugins/owlcarousel/owl.carousel.min.js")
script(src="js/plugins/counter/jquery.spincrement.min.js")
script(src="js/plugins/featurecarousel/jquery.featureCarousel.js")
script(src="js/plugins/select2/select2.min.js")
script(src="js/plugins/slider/nouislider.min.js")
script(src="js/plugins/magnificpopup/jquery.magnific-popup.min.js")
script(src="js/main.js")
script(src="//maps.googleapis.com/maps/api/js?key=AIzaSyAetjr5PJPApDBUHJNlfhIxu41a7uZKxfc&amp;language=en&amp;callback=initMap", async="async", defer="defer")
