head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="format-detection", content="telephone=no")

    title 

    link(rel="stylesheet", href="js/plugins/owlcarousel/owl.carousel.min.css")
    link(rel="stylesheet", href="js/plugins/owlcarousel/owl.theme.default.min.css")
    link(rel="stylesheet", href="js/plugins/select2/select2.min.css")
    link(rel="stylesheet", href="js/plugins/slider/nouislider.min.css")
    link(rel="stylesheet", href="js/plugins/magnificpopup/magnific-popup.css")
    link(rel="stylesheet", href="styles/style.css")
