.services-block.js-services
    .services-item.is-open
        img(src="i/services/services-1.jpg", alt="")
        .services-item__headline
            .icon
            p Screen Printing
        .services-item__text
            .base-title
                p Screen Printing
            .base-text
                p Screen printing is our number one specialty, and your solution for when you need any customized gear delivered fast. No matter how quickly we print and deliver an order, we ensure our production team has triple checked each item for excellent accuracy and quality.
            a(href="").base-link
                span Read more
                svg
                    use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#link")
    .services-item
        img(src="i/services/services-2.jpg", alt="")
        .services-item__headline
            .icon
            p Embroidery
        .services-item__text
            .base-title
                p Embroidery
            .base-text
                p Screen printing is our number one specialty, and your solution for when you need any customized gear delivered fast. No matter how quickly we print and deliver an order, we ensure our production team has triple checked each item for excellent accuracy and quality.
            a(href="").base-link
                span Read more
                svg
                    use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#link")
    .services-item
        img(src="i/services/services-3.jpg", alt="")
        .services-item__headline
            .icon
            p Rush Deliveries
        .services-item__text
            .base-title
                p Rush Deliveries
            .base-text
                p Screen printing is our number one specialty, and your solution for when you need any customized gear delivered fast. No matter how quickly we print and deliver an order, we ensure our production team has triple checked each item for excellent accuracy and quality.
            a(href="").base-link
                span Read more
                svg
                    use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#link")
    .services-item
        img(src="i/services/services-4.jpg", alt="")
        .services-item__headline
            .icon
            p Design Review And Repair
        .services-item__text
            .base-title
                p Design Review And Repair
            .base-text
                p Screen printing is our number one specialty, and your solution for when you need any customized gear delivered fast. No matter how quickly we print and deliver an order, we ensure our production team has triple checked each item for excellent accuracy and quality.
            a(href="").base-link
                span Read more
                svg
                    use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#link")
    .services-item
        img(src="i/services/services-5.jpg", alt="")
        .services-item__headline
            .icon
            p Samples
        .services-item__text
            .base-title
                p Samples
            .base-text
                p Screen printing is our number one specialty, and your solution for when you need any customized gear delivered fast. No matter how quickly we print and deliver an order, we ensure our production team has triple checked each item for excellent accuracy and quality.
            a(href="").base-link
                span Read more
                svg
                    use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#link")
    .services-item
        img(src="i/services/services-6.jpg", alt="")
        .services-item__headline
            .icon
            p Permapress
        .services-item__text
            .base-title
                p Permapress
            .base-text
                p Screen printing is our number one specialty, and your solution for when you need any customized gear delivered fast. No matter how quickly we print and deliver an order, we ensure our production team has triple checked each item for excellent accuracy and quality.
            a(href="").base-link
                span Read more
                svg
                    use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#link")
    .services-item
        img(src="i/services/services-7.jpg", alt="")
        .services-item__headline
            .icon
            p Tackle Twill
        .services-item__text
            .base-title
                p Tackle Twill
            .base-text
                p Screen printing is our number one specialty, and your solution for when you need any customized gear delivered fast. No matter how quickly we print and deliver an order, we ensure our production team has triple checked each item for excellent accuracy and quality.
            a(href="").base-link
                span Read more
                svg
                    use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#link")
    .services-item
        img(src="i/services/services-8.jpg", alt="")
        .services-item__headline
            .icon
            p Foil Printing
        .services-item__text
            .base-title
                p Foil Printing
            .base-text
                p Screen printing is our number one specialty, and your solution for when you need any customized gear delivered fast. No matter how quickly we print and deliver an order, we ensure our production team has triple checked each item for excellent accuracy and quality.
            a(href="").base-link
                span Read more
                svg
                    use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#link")
    .services-item
        img(src="i/services/services-9.jpg", alt="")
        .services-item__headline
            .icon
            p Team Personalization
        .services-item__text
            .base-title
                p Team Personalization
            .base-text
                p Screen printing is our number one specialty, and your solution for when you need any customized gear delivered fast. No matter how quickly we print and deliver an order, we ensure our production team has triple checked each item for excellent accuracy and quality.
            a(href="").base-link
                span Read more
                svg
                    use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#link")
