.info {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    size: 14px;
    margin-left: 16px;
    text-align: center;
    border: 1px solid black;
    border-radius: 50%;

    i {
        display: block;
        font-style: normal;
        font-weight: 700;
        font-size: 8px;
        line-height: 12px;
        color: black;
    }

    &-text {
        opacity: 0;
        visibility: hidden;
        position: absolute 100% * * 0;
        z-index: 10;
        width: 316px;
        padding: 20px;
        text-align: left;
        background: white;
        box-shadow: 0px 11px 24px 0px rgba(0, 0, 0, 0.08);
        transition: opacity .1s ease-in-out;

        p {
            font-size: 12px;
            color: #7d7b7b;

            small {
                display: block;
                margin-top: 15px;
                font-size: 10px;
            }
        }
    }

    &.is-active {
        border-color: $main-color;

        i {
            color: $main-color;
        }

        .info-text {
            opacity: 1;
            visibility: visible;
        }
    }

    &:hover {
        border-color: $main-color;

        i {
            color: $main-color;
        }
    }
}
