html {
    height: 100%;
}

body {
    position: relative;
    min-width: 320px;
    height: 100%;
    font: 300 14px/1.2 $nexa;
    color: black;
    background-color: white;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    * {
        outline: none !important;
    }
}
