.accordeon.js-accordeon
    .accordeon__item
        .accordeon-title.js-accordeon-title.is-open All File Types Are Accepted
            a(href="").close-icon
        .base-text.js-accordeon-content
            img(src="i/service/service-1.png", alt="")
            p No matter what format your design gets to us in, we’ll be able to work with them. While our design studio is very robust and accepts many formats, such as .JPG, .GIF, .BMP, .TIFF, .PDF, the software may need to use a placeholder image for formats that cannot be translated into an image. File formats such as .AI, .EPS, .DOC, .XLS, .PPT, and .PSD are given placeholders. 
    .accordeon__item
        .accordeon-title.js-accordeon-title Pixelation   
            a(href="").close-icon
        .base-text.js-accordeon-content
            img(src="i/service/service-2.png", alt="")
            p Pixelation is every designer's worst fear. Taking the time to create what you feel is a masterpiece, only to have it look boxy, choppy, and sloppy, is a heartbreaking experience. But fear not! Our all-star design team will be happy to clean up your pixelation issues by increasing the size of your image and redrawing your outlines so that your design prints perfectly. We can even change the color of your logo or add an outline. Simply let us know what you’re looking for and we’ll take care of the rest. 
    .accordeon__item
        .accordeon-title.js-accordeon-title Placement & Centering 
            a(href="").close-icon
        .base-text.js-accordeon-content
            img(src="i/service/service-3.png", alt="")
            p After you place your order, we take care of all the logistical aspects of production. We double check that your design is placed perfectly on your apparel, and that the alignment, centering, and distance from the neckline is correct (so no need to worry if you are a little off-center or a little too low). We’ll correct any minor issues that we find and send you the final version before we move on to printing.
    .accordeon__item
        .accordeon-title.js-accordeon-title Removing Background Colors On Your Uploaded Images 
            a(href="").close-icon
        .base-text.js-accordeon-content 
            img(src="i/service/service-4.png", alt="")
            p When uploading your own design to Rush Order Tees design studio, sometimes a box will appear behind your artwork. In some cases, it is completely different than the shirt color. Not to worry -- This is an easy fix! After placing your order, our designers will remove that background and show you a finished design layout without that extra coloration.
    .accordeon__item
        .accordeon-title.js-accordeon-title Color Changes 
            a(href="").close-icon
        .base-text.js-accordeon-content
            img(src="i/service/service-5.png", alt="")
            p Any piece of artwork can be completely modified, so changing the colors in your image is a breeze! For example, we took this multi-colored image with a white background and changed the look entirely by converting it to just four fluorescent colors. Just let us know what colors you need and our designers will be more than happy to oblige.
    .accordeon__item
        .accordeon-title.js-accordeon-title Changing Your Uploaded Design 
            a(href="").close-icon
        .base-text.js-accordeon-content
            img(src="i/service/service-6.png", alt="")
            p If you need to make changes to your uploaded design, we can help! When you're ready to check out, simply leave us a note detailing the changes you’d like to see, and we’ll make the revisions when your order is placed. You’ll be able to review the finished layout when we send you the final design proofs for your approval.
    .accordeon__item
        .accordeon-title.js-accordeon-title Adjusting Print Size On Orders With Youth And Adult Apparel 
            a(href="").close-icon
        .base-text.js-accordeon-content
            img(src="i/service/service-7.png", alt="")
            p If you are ordering both youth and adult apparel, don't worry! We always make sure that your print will fit on all of the apparel in your order, even if that means making two different print sizes for you! For questions regarding this process, feel free to contact a project specialist at 1-855-942-7636 for more information on sizing.
    .accordeon__item
        .accordeon-title.js-accordeon-title Ink Color Contrast 
            a(href="").close-icon
        .base-text.js-accordeon-content
            img(src="i/service/service-8.png", alt="")
            p We recommend paying particular attention to the contrast between the shirt color and ink colors you select in order to make sure you will be satisfied with the final results. For example, if you think white ink looks great on a forest green t-shirt, go for it. Or if you think red ink looks great on a black t-shirt, no problem. Everyone has unique tastes, but if we feel that you have chosen an ink color that will not be visible on your shirts -- we'll have your back! Should this occur, we will notify you of our concerns by phone or email. If you would like our recommendations before placing your order.
    .accordeon__item
        .accordeon-title.js-accordeon-title Converting Full Color Images To One Color (Black And White) 
            a(href="").close-icon
        .base-text.js-accordeon-content
            img(src="i/service/service-9.png", alt="")
            p We receive plenty of orders from customers looking to print full color images on a budget. While it's not always the most inexpensive process, we offer plenty of alternatives to help your plan come to fruition. For instance, if you're planning a birthday party on a budget and want some commemorative t-shirts for the occasion, our designers can take your image, convert it to black and white, and then print it on whatever color apparel you'd like, thereby cutting overall costs. When it comes to art, anything is possible! Simply let us know what you’re looking for and we’ll make any changes you need.
    .accordeon__item
        .accordeon-title.js-accordeon-title Simplifying Your Image 
            a(href="").close-icon
        .base-text.js-accordeon-content
            img(src="i/service/service-10.png", alt="")
            p Simplifying the colors in a screen printed design is the best way to reduce the cost of an order. For example, we took this Christmas tree, lights and all, and simplified it to include just 3 colors – Black, red and green. We want you to always feel confident that any color change is possible, no matter how complicated the design might be. The best part is that revisions are included with every order, free of charge!
    .accordeon__item
        .accordeon-title.js-accordeon-title Fades, Gradients, And Halftones 
            a(href="").close-icon
        .base-text.js-accordeon-content
            img(src="i/service/service-11.png", alt="")
            p Yes, we can do it! We have mastered the art of creating designs that include gradient colors and halftones. We always recommend you check out our screen printing screen printing   samples, just to see some of the work we have printed. If you have questions about your specific artwork, simply call us at 1-855-942-7636 to consult with a project specialist.
    .accordeon__item
        .accordeon-title.js-accordeon-title Full Color Photographs On White Apparel - CMYK Process 
            a(href="").close-icon
        .base-text.js-accordeon-content
            img(src="i/service/service-12.png", alt="")
            p We print full color photographs and artwork every single day. Better known as CMYK, it is routine at Rush Order Tees. Magazines often print full color images on white paper using very small dots of color, and we reproduce full color images using the same method. We blend just four ink colors to create millions of unique color combinations to satisfy any visual palette!
    .accordeon__item
        .accordeon-title.js-accordeon-title Full Color Photographs On Dark Apparel - Simulated Process
            a(href="").close-icon 
        .base-text.js-accordeon-content
            img(src="i/service/service-13.png", alt="")
            p This is considered the final frontier in screen printing, and we've managed to make it look easy! Because of the extra planning and materials needed to print full color images on dark colored items, Simulated Process printing is considered much more difficult than CMYK printing. However, we have mastered the art, and are capable of printing designs that could otherwise require as many as 18 colors. If you are interested in printing full color on dark t-shirts, please call us at 1-800-620-1233 to speak with a project specialist.
    .accordeon__item
        .accordeon-title.js-accordeon-title Other Printing Locations  
            a(href="").close-icon
        .base-text.js-accordeon-content
            img(src="i/service/service-14.png", alt="")
            p We can print on almost any location on your garments, including sleeves, sweatpants legs, sweatshirt hoods and pockets, and even on the inside of your apparel!
            p If you would like to place an order with a non-traditional print location, simply give us a call at 1-855-942-7636 to speak with a project specialist.
    .accordeon__item
        .accordeon-title.js-accordeon-title Email, Fax Or Explain Your Design By Phone 
            a(href="").close-icon
        .base-text.js-accordeon-content
            img(src="i/service/service-15.png", alt="")
            p When it comes to artwork, everyone has their own communication preference. Many customers use email. However, you can also fax us the design or simply give us a call to let us know what kind of artwork you need. We will assist you in completing your order in any way we can, even it if means recreating a black and white fax to make it full color. We are happy to help with any request -- by phone, email, or fax! Call us for assistance any time at
