.contacts {
    padding-top: 62px;

    @media (max-width: 980px) {
        padding-top: 40px;
    }

    @media ($phone) {
        padding-top: 25px;
    }

    &__title {
        font-weight: 700;
        font-size: 24px;
        text-transform: uppercase;

        @media ($phone) {
            font-size: 16px;
        }
    }

    &__details {
        @extend .clearfix;

        position: relative;
        padding: 90px calc(660 * 100 / 1180)% 90px 60px;
        background: white;

        @media (max-width: 980px) {
            padding: 60px calc(540 * 100 / 960)% 60px 40px;
        }

        @media ($phone) {
            padding: 40px 20px 290px 20px;
        }

        .base-title {
            margin-bottom: 60px;

            @media ($phone) {
                margin-bottom: 26px;
            }

            &:before {
                size: 254px 60px;
                bottom: -14px;
                left: -16px;

                @media ($phone) {
                    display: none;
                }
            }

            &:after {
                display: none;
            }
        }

        .base-text {
            font-size: 12px;
        }

        .contact-info {

            &__item {
                margin-top: 30px;
                font-size: 18px;

                @media (max-width: 980px) {
                    font-size: 16px;
                }

                @media ($phone) {
                    margin-top: 18px;
                    font-size: 13px;
                }
            }

            .title {
                margin-bottom: 5px;
                font-weight: 700;
                font-size: 24px;

                @media (max-width: 980px) {
                    font-size: 20px;
                }

                @media ($phone) {
                    font-size: 16px;
                }
            }
        }
    }

    &__map {
        position: absolute 0 0 0 *;
        width: calc(600 * 100 / 1180)%;

        @media (max-width: 980px) {
            width: calc(500 * 100 / 960)%;
        }

        @media ($phone) {
            top: auto;
            bottom: 0;
            left: 0;
            width: auto;
            height: 250px;
        }

        #map {
            position: absolute 0;
            size: 100%;
        }
    }

    &__form {
        margin: 70px 0 80px;

        @media (max-width: 980px) {
            margin: 50px 0;
        }

        @media ($phone) {
            margin: 26px 0 40px;
        }

        .base-link {
            margin-top: 70px;
            padding: 0;

            @media ($phone) {
                margin-top: 30px;
            }
        }
    }
}
