.products
    .products__inner
        .products__sidebar
            .sidebar-nav
                span#filter Filter
                span#sort Sort
            .filter.sidebar-item
                .sidebar-item__title Filter #[i <]
                .filter__item.is-open
                    .filter__header
                        .filter__title Price #[i.icon <]
                    .filter__content
                        .range-slider
                            #rangeSlider
                            .field
                                input(type='text')#input-from
                            .field
                                input(type='text')#input-to
                .filter__item.is-open
                    .filter__header
                        .filter__title Gender #[i.icon <]
                    .filter__content
                        .field
                            input(type="checkbox", id="chkbx1", checked)
                            label(for="chkbx1") Man                            
                        .field
                            input(type="checkbox", id="chkbx2")
                            label(for="chkbx2") Woman
                .filter__item.is-open
                    .filter__header
                        .filter__title Color #[i.icon <]
                    .filter__content
                        .color-list
                            .field.color
                                input(type="radio", name="color100" id="color1001", checked)
                                label(for="color1001")
                                    img(src="i/colors/white.jpg", alt="")
                            .field.color
                                input(type="radio", name="color100" id="color1002")
                                label(for="color1002")
                                    img(src="i/colors/blue.jpg", alt="")
                            .field.color
                                input(type="radio", name="color100" id="color1003")
                                label(for="color1003")
                                    img(src="i/colors/red1.jpg", alt="")
                            .field.color
                                input(type="radio", name="color100" id="color1004")
                                label(for="color1004")
                                    img(src="i/colors/violet.jpg", alt="")
                            .field.color
                                input(type="radio", name="color100" id="color1005")
                                label(for="color1005")
                                    img(src="i/colors/green.jpg", alt="")
                            .field.color
                                input(type="radio", name="color100" id="color1006")
                                label(for="color1006")
                                    img(src="i/colors/yellow.jpg", alt="")
                            .field.color
                                input(type="radio", name="color100" id="color1007")
                                label(for="color1007")
                                    img(src="i/colors/beige.jpg", alt="")
                            .field.color
                                input(type="radio", name="color100" id="color1008")
                                label(for="color1008")
                                    img(src="i/colors/white.jpg", alt="")
                            .field.color
                                input(type="radio", name="color100" id="color1009")
                                label(for="color1009")
                                    img(src="i/colors/blue.jpg", alt="")
                            .field.color
                                input(type="radio", name="color100" id="color10010")
                                label(for="color10010")
                                    img(src="i/colors/red1.jpg", alt="")
                            .field.color
                                input(type="radio", name="color100" id="color10011")
                                label(for="color10011")
                                    img(src="i/colors/violet.jpg", alt="")
                            .field.color
                                input(type="radio", name="color100" id="color10012")
                                label(for="color10012")
                                    img(src="i/colors/green.jpg", alt="")
                            .field.color
                                input(type="radio", name="color100" id="color10013")
                                label(for="color10013")
                                    img(src="i/colors/yellow.jpg", alt="")
                            .field.color
                                input(type="radio", name="color100" id="color10014")
                                label(for="color10014")
                                    img(src="i/colors/beige.jpg", alt="")
                            .field.color
                                input(type="radio", name="color100" id="color10015")
                                label(for="color10015")
                                    img(src="i/colors/print1.jpg", alt="")
                            .field.color
                                input(type="radio", name="color100" id="color10016")
                                label(for="color10016")
                                    img(src="i/colors/print2.jpg", alt="")
                            .field.color
                                input(type="radio", name="color100" id="color10017")
                                label(for="color10017")
                                    img(src="i/colors/print3.jpg", alt="")
                        .filter__footer
                            a(href="").link + Show More
                .filter__item.is-open
                    .filter__header
                        .filter__title Brand #[i.icon <]
                    .filter__content
                        .field
                            input(type="checkbox", id="chkbx3", checked)
                            label(for="chkbx3") Nike                            
                        .field
                            input(type="checkbox", id="chkbx4")
                            label(for="chkbx4") SanMar                       
                        .field
                            input(type="checkbox", id="chkbx5")
                            label(for="chkbx5") Alternative                       
                        .field
                            input(type="checkbox", id="chkbx6")
                            label(for="chkbx6") Ogio                       
                        .field
                            input(type="checkbox", id="chkbx7")
                            label(for="chkbx7") Sport-tek                       
                        .field
                            input(type="checkbox", id="chkbx8", checked)
                            label(for="chkbx8") Nike
                        .filter__footer
                            a(href="").link + Show More
                .filter__item.is-open
                    .filter__header
                        .filter__title Fabric #[i.icon <]
                    .filter__content
                        .field
                            input(type="checkbox", id="chkbx9", checked)
                            label(for="chkbx9") Cotton                            
                        .field
                            input(type="checkbox", id="chkbx10", checked)
                            label(for="chkbx10") Silk                       
                        .field
                            input(type="checkbox", id="chkbx11")
                            label(for="chkbx11") polyester                       
                        .field
                            input(type="checkbox", id="chkbx12")
                            label(for="chkbx12") Wool                       
                        .field
                            input(type="checkbox", id="chkbx13")
                            label(for="chkbx13") Silk                      
                        .field
                            input(type="checkbox", id="chkbx14")
                            label(for="chkbx14") Cotton
                        .filter__footer
                            a(href="").link + Show More
            .sort.sidebar-item
                .sidebar-item__title Sort #[i <]
                .sort__item
                    input(type="radio" name="sort" id="sort1", checked)
                    label(for="sort1") Most Popular
                .sort__item
                    input(type="radio" name="sort" id="sort2")
                    label(for="sort2") Price: $$ - $
                .sort__item
                    input(type="radio" name="sort" id="sort3")
                    label(for="sort3") Price $ - $$
                .sort__item
                    input(type="radio" name="sort" id="sort4")
                    label(for="sort4") Alphabetical: A - Z
                .sort__item
                    input(type="radio" name="sort" id="sort5")
                    label(for="sort5") Alphabetical: Z - A
                .sort__item
                    input(type="radio" name="sort" id="sort6")
                    label(for="sort6") Newest
        .products__header
            .filter
                .filter__item
                    .filter__header
                        .filter__title SORT BY
                    .filter__content
                        .field
                            select
                                option(value="1") Most Popular
                                option(value="2") Price: $$ - $
                                option(value="3") Price $ - $$
                                option(value="4") Alphabetical: A - Z
                                option(value="5") Alphabetical: Z - A
                                option(value="6") Newest
                .filter__item
                    .filter__header
                        .filter__title 1-12 of 5000
                    .filter__content
                        .field
                            label(for="") SHOW
                            select
                                option(value="1") 12
                                option(value="2") 24
                                option(value="3") all
        .products__content
            .products-list
                .products-list__item
                    .label sale
                    .product-info
                        .product-colors.owl-carousel
                            .product-colors__item
                                .field.color
                                    input(type="radio", name="color" id="color1", checked)
                                    label(for="color1")
                                        img(src="i/colors/white.jpg", alt="")
                            .product-colors__item
                                .field.color
                                    input(type="radio", name="color" id="color2")
                                    label(for="color2")
                                        img(src="i/colors/blue.jpg", alt="")
                            .product-colors__item
                                .field.color
                                    input(type="radio", name="color" id="color3")
                                    label(for="color3")
                                        img(src="i/colors/red1.jpg", alt="")
                            .product-colors__item
                                .field.color
                                    input(type="radio", name="color" id="color4")
                                    label(for="color4")
                                        img(src="i/colors/violet.jpg", alt="")
                            .product-colors__item
                                .field.color
                                    input(type="radio", name="color" id="color5")
                                    label(for="color5")
                                        img(src="i/colors/green.jpg", alt="")
                            .product-colors__item
                                .field.color
                                    input(type="radio", name="color" id="color6")
                                    label(for="color6")
                                        img(src="i/colors/darkgreen.jpg", alt="")
                            .product-colors__item
                                .field.color
                                    input(type="radio", name="color" id="color7")
                                    label(for="color7")
                                        img(src="i/colors/yellow.jpg", alt="")
                            .product-colors__item
                                .field.color
                                    input(type="radio", name="color" id="color8")
                                    label(for="color8")
                                        img(src="i/colors/beige.jpg", alt="")
                            .product-colors__item
                                .field.color
                                    input(type="radio", name="color" id="color9")
                                    label(for="color9")
                                        img(src="i/colors/red1.jpg", alt="")
                            .product-colors__item
                                .field.color
                                    input(type="radio", name="color" id="color10")
                                    label(for="color10")
                                        img(src="i/colors/green.jpg", alt="")
                        .product-image
                            img(src="i/products/shirt-1.png", alt="")
                        .product-name Jerzees 5.6 oz., 50/50 Heavyweight Blend T-Shirt                            
                        .product-price low as #[span.old $34.70] #[span.new $25.67] #[span.id #617172]
                .products-list__item
                    .product-info
                        .product-colors.owl-carousel
                            .product-colors__item
                                .field.color
                                    input(type="radio", name="color1" id="color11", checked)
                                    label(for="color11")
                                        img(src="i/colors/white.jpg", alt="")
                            .product-colors__item
                                .field.color
                                    input(type="radio", name="color1" id="color12")
                                    label(for="color12")
                                        img(src="i/colors/blue.jpg", alt="")
                            .product-colors__item
                                .field.color
                                    input(type="radio", name="color1" id="color13")
                                    label(for="color13")
                                        img(src="i/colors/red1.jpg", alt="")
                            .product-colors__item
                                .field.color
                                    input(type="radio", name="color1" id="color14")
                                    label(for="color14")
                                        img(src="i/colors/violet.jpg", alt="")
                            .product-colors__item
                                .field.color
                                    input(type="radio", name="color1" id="color15")
                                    label(for="color15")
                                        img(src="i/colors/green.jpg", alt="")
                        .product-image
                            img(src="i/products/shirt-2.png", alt="")
                        .product-name Port & Co. Black Essential T-Shirt                           
                        .product-price low as #[span.new $34.70] #[span.id #617172]
                .products-list__item
                    .product-info
                        .product-colors.owl-carousel
                            .product-colors__item
                                .field.color
                                    input(type="radio", name="color2" id="color21", checked)
                                    label(for="color21")
                                        img(src="i/colors/white.jpg", alt="")
                            .product-colors__item
                                .field.color
                                    input(type="radio", name="color2" id="color22")
                                    label(for="color22")
                                        img(src="i/colors/blue.jpg", alt="")
                        .product-image
                            img(src="i/products/shirt-3.png", alt="")
                        .product-name Port & Co. Black Essential T-Shirt                            
                        .product-price low as #[span.new $34.70] #[span.id #617172]
                .products-list__item
                    .product-info
                        .product-colors.owl-carousel
                            .product-colors__item
                                .field.color
                                    input(type="radio", name="color3" id="color31", checked)
                                    label(for="color31")
                                        img(src="i/colors/white.jpg", alt="")
                            .product-colors__item
                                .field.color
                                    input(type="radio", name="color3" id="color32")
                                    label(for="color32")
                                        img(src="i/colors/blue.jpg", alt="")
                            .product-colors__item
                                .field.color
                                    input(type="radio", name="color3" id="color33")
                                    label(for="color33")
                                        img(src="i/colors/red1.jpg", alt="")
                            .product-colors__item
                                .field.color
                                    input(type="radio", name="color3" id="color34")
                                    label(for="color34")
                                        img(src="i/colors/violet.jpg", alt="")
                            .product-colors__item
                                .field.color
                                    input(type="radio", name="color3" id="color35")
                                    label(for="color35")
                                        img(src="i/colors/green.jpg", alt="")
                            .product-colors__item
                                .field.color
                                    input(type="radio", name="color3" id="color36")
                                    label(for="color36")
                                        img(src="i/colors/darkgreen.jpg", alt="")
                            .product-colors__item
                                .field.color
                                    input(type="radio", name="color3" id="color37")
                                    label(for="color37")
                                        img(src="i/colors/yellow.jpg", alt="")
                            .product-colors__item
                                .field.color
                                    input(type="radio", name="color3" id="color38")
                                    label(for="color38")
                                        img(src="i/colors/beige.jpg", alt="")
                            .product-colors__item
                                .field.color
                                    input(type="radio", name="color3" id="color39")
                                    label(for="color39")
                                        img(src="i/colors/red1.jpg", alt="")
                            .product-colors__item
                                .field.color
                                    input(type="radio", name="color3" id="color310")
                                    label(for="color310")
                                        img(src="i/colors/green.jpg", alt="")
                        .product-image
                            img(src="i/products/shirt-4.png", alt="")
                        .product-name Jerzees 5.6 oz., 50/50 Heavyweight Blend T-Shirt                            
                        .product-price low as #[span.old $34.70] #[span.new $25.67] #[span.id #617172]
                .products-list__item
                    .label sale
                    .product-info
                        .product-colors.owl-carousel
                            .product-colors__item
                                .field.color
                                    input(type="radio", name="color4" id="color41", checked)
                                    label(for="color41")
                                        img(src="i/colors/white.jpg", alt="")
                            .product-colors__item
                                .field.color
                                    input(type="radio", name="color4" id="color42")
                                    label(for="color42")
                                        img(src="i/colors/blue.jpg", alt="")
                            .product-colors__item
                                .field.color
                                    input(type="radio", name="color4" id="color43")
                                    label(for="color43")
                                        img(src="i/colors/red1.jpg", alt="")
                            .product-colors__item
                                .field.color
                                    input(type="radio", name="color4" id="color44")
                                    label(for="color44")
                                        img(src="i/colors/violet.jpg", alt="")
                            .product-colors__item
                                .field.color
                                    input(type="radio", name="color4" id="color45")
                                    label(for="color45")
                                        img(src="i/colors/green.jpg", alt="")
                            .product-colors__item
                                .field.color
                                    input(type="radio", name="color4" id="color46")
                                    label(for="color46")
                                        img(src="i/colors/darkgreen.jpg", alt="")
                            .product-colors__item
                                .field.color
                                    input(type="radio", name="color4" id="color47")
                                    label(for="color47")
                                        img(src="i/colors/yellow.jpg", alt="")
                            .product-colors__item
                                .field.color
                                    input(type="radio", name="color4" id="color48")
                                    label(for="color48")
                                        img(src="i/colors/beige.jpg", alt="")
                            .product-colors__item
                                .field.color
                                    input(type="radio", name="color4" id="color49")
                                    label(for="color49")
                                        img(src="i/colors/red1.jpg", alt="")
                            .product-colors__item
                                .field.color
                                    input(type="radio", name="color4" id="color410")
                                    label(for="color410")
                                        img(src="i/colors/green.jpg", alt="")
                        .product-image
                            img(src="i/products/shirt-5.png", alt="")
                        .product-name Jerzees 5.6 oz., 50/50 Heavyweight Blend T-Shirt                            
                        .product-price low as #[span.old $34.70] #[span.new $25.67] #[span.id #617172]
                .products-list__item
                    .product-info
                        .product-colors.owl-carousel
                            .product-colors__item
                                .field.color
                                    input(type="radio", name="color5" id="color51", checked)
                                    label(for="color51")
                                        img(src="i/colors/white.jpg", alt="")
                            .product-colors__item
                                .field.color
                                    input(type="radio", name="color5" id="color52")
                                    label(for="color52")
                                        img(src="i/colors/blue.jpg", alt="")
                            .product-colors__item
                                .field.color
                                    input(type="radio", name="color5" id="color53")
                                    label(for="color53")
                                        img(src="i/colors/red1.jpg", alt="")
                            .product-colors__item
                                .field.color
                                    input(type="radio", name="color5" id="color54")
                                    label(for="color54")
                                        img(src="i/colors/violet.jpg", alt="")
                            .product-colors__item
                                .field.color
                                    input(type="radio", name="color5" id="color55")
                                    label(for="color55")
                                        img(src="i/colors/green.jpg", alt="")
                            .product-colors__item
                                .field.color
                                    input(type="radio", name="color5" id="color56")
                                    label(for="color56")
                                        img(src="i/colors/darkgreen.jpg", alt="")
                            .product-colors__item
                                .field.color
                                    input(type="radio", name="color5" id="color57")
                                    label(for="color57")
                                        img(src="i/colors/yellow.jpg", alt="")
                            .product-colors__item
                                .field.color
                                    input(type="radio", name="color5" id="color58")
                                    label(for="color58")
                                        img(src="i/colors/beige.jpg", alt="")
                            .product-colors__item
                                .field.color
                                    input(type="radio", name="color5" id="color59")
                                    label(for="color59")
                                        img(src="i/colors/red1.jpg", alt="")
                            .product-colors__item
                                .field.color
                                    input(type="radio", name="color5" id="color510")
                                    label(for="color510")
                                        img(src="i/colors/green.jpg", alt="")
                        .product-image
                            img(src="i/products/shirt-6.png", alt="")
                        .product-name Jerzees 5.6 oz., 50/50 Heavyweight Blend T-Shirt                            
                        .product-price low as #[span.old $34.70] #[span.new $25.67] #[span.id #617172]
                .products-list__item
                    .product-info
                        .product-colors.owl-carousel
                            .product-colors__item
                                .field.color
                                    input(type="radio", name="color6" id="color61", checked)
                                    label(for="color61")
                                        img(src="i/colors/white.jpg", alt="")
                            .product-colors__item
                                .field.color
                                    input(type="radio", name="color6" id="color62")
                                    label(for="color62")
                                        img(src="i/colors/blue.jpg", alt="")
                            .product-colors__item
                                .field.color
                                    input(type="radio", name="color6" id="color63")
                                    label(for="color63")
                                        img(src="i/colors/red1.jpg", alt="")
                            .product-colors__item
                                .field.color
                                    input(type="radio", name="color6" id="color64")
                                    label(for="color64")
                                        img(src="i/colors/violet.jpg", alt="")
                            .product-colors__item
                                .field.color
                                    input(type="radio", name="color6" id="color65")
                                    label(for="color65")
                                        img(src="i/colors/green.jpg", alt="")
                            .product-colors__item
                                .field.color
                                    input(type="radio", name="color6" id="color66")
                                    label(for="color66")
                                        img(src="i/colors/darkgreen.jpg", alt="")
                            .product-colors__item
                                .field.color
                                    input(type="radio", name="color6" id="color67")
                                    label(for="color67")
                                        img(src="i/colors/yellow.jpg", alt="")
                            .product-colors__item
                                .field.color
                                    input(type="radio", name="color6" id="color68")
                                    label(for="color68")
                                        img(src="i/colors/beige.jpg", alt="")
                            .product-colors__item
                                .field.color
                                    input(type="radio", name="color6" id="color69")
                                    label(for="color69")
                                        img(src="i/colors/red1.jpg", alt="")
                            .product-colors__item
                                .field.color
                                    input(type="radio", name="color6" id="color610")
                                    label(for="color610")
                                        img(src="i/colors/green.jpg", alt="")
                        .product-image
                            img(src="i/products/shirt-7.png", alt="")
                        .product-name Jerzees 5.6 oz., 50/50 Heavyweight Blend T-Shirt                            
                        .product-price low as #[span.old $34.70] #[span.new $25.67] #[span.id #617172]
                .products-list__item
                    .label sale
                    .product-info
                        .product-colors.owl-carousel
                            .product-colors__item
                                .field.color
                                    input(type="radio", name="color7" id="color71", checked)
                                    label(for="color71")
                                        img(src="i/colors/white.jpg", alt="")
                            .product-colors__item
                                .field.color
                                    input(type="radio", name="color7" id="color72")
                                    label(for="color72")
                                        img(src="i/colors/blue.jpg", alt="")
                            .product-colors__item
                                .field.color
                                    input(type="radio", name="color7" id="color73")
                                    label(for="color73")
                                        img(src="i/colors/red1.jpg", alt="")
                            .product-colors__item
                                .field.color
                                    input(type="radio", name="color7" id="color74")
                                    label(for="color74")
                                        img(src="i/colors/violet.jpg", alt="")
                            .product-colors__item
                                .field.color
                                    input(type="radio", name="color7" id="color75")
                                    label(for="color75")
                                        img(src="i/colors/green.jpg", alt="")
                            .product-colors__item
                                .field.color
                                    input(type="radio", name="color7" id="color76")
                                    label(for="color76")
                                        img(src="i/colors/darkgreen.jpg", alt="")
                            .product-colors__item
                                .field.color
                                    input(type="radio", name="color7" id="color77")
                                    label(for="color77")
                                        img(src="i/colors/yellow.jpg", alt="")
                            .product-colors__item
                                .field.color
                                    input(type="radio", name="colo7" id="color78")
                                    label(for="color78")
                                        img(src="i/colors/beige.jpg", alt="")
                            .product-colors__item
                                .field.color
                                    input(type="radio", name="color7" id="color79")
                                    label(for="color79")
                                        img(src="i/colors/red1.jpg", alt="")
                            .product-colors__item
                                .field.color
                                    input(type="radio", name="color7" id="color710")
                                    label(for="color710")
                                        img(src="i/colors/green.jpg", alt="")
                        .product-image
                            img(src="i/products/shirt-8.png", alt="")
                        .product-name Jerzees 5.6 oz., 50/50 Heavyweight Blend T-Shirt                            
                        .product-price low as #[span.old $34.70] #[span.new $25.67] #[span.id #617172]
                .products-list__item
                    .label sale
                    .product-info
                        .product-colors.owl-carousel
                            .product-colors__item
                                .field.color
                                    input(type="radio", name="color8" id="color81", checked)
                                    label(for="color81")
                                        img(src="i/colors/white.jpg", alt="")
                            .product-colors__item
                                .field.color
                                    input(type="radio", name="color8" id="color82")
                                    label(for="color82")
                                        img(src="i/colors/blue.jpg", alt="")
                            .product-colors__item
                                .field.color
                                    input(type="radio", name="color8" id="color83")
                                    label(for="color83")
                                        img(src="i/colors/red1.jpg", alt="")
                            .product-colors__item
                                .field.color
                                    input(type="radio", name="color8" id="color84")
                                    label(for="color84")
                                        img(src="i/colors/violet.jpg", alt="")
                            .product-colors__item
                                .field.color
                                    input(type="radio", name="color8" id="color85")
                                    label(for="color85")
                                        img(src="i/colors/green.jpg", alt="")
                            .product-colors__item
                                .field.color
                                    input(type="radio", name="color8" id="color86")
                                    label(for="color86")
                                        img(src="i/colors/darkgreen.jpg", alt="")
                            .product-colors__item
                                .field.color
                                    input(type="radio", name="color8" id="color87")
                                    label(for="color87")
                                        img(src="i/colors/yellow.jpg", alt="")
                            .product-colors__item
                                .field.color
                                    input(type="radio", name="color8" id="color88")
                                    label(for="color88")
                                        img(src="i/colors/beige.jpg", alt="")
                            .product-colors__item
                                .field.color
                                    input(type="radio", name="color8" id="color89")
                                    label(for="color89")
                                        img(src="i/colors/red1.jpg", alt="")
                            .product-colors__item
                                .field.color
                                    input(type="radio", name="color8" id="color810")
                                    label(for="color810")
                                        img(src="i/colors/green.jpg", alt="")
                        .product-image
                            img(src="i/products/shirt-9.png", alt="")
                        .product-name Jerzees 5.6 oz., 50/50 Heavyweight Blend T-Shirt                            
                        .product-price low as #[span.old $34.70] #[span.new $25.67] #[span.id #617172]
                .products-list__item
                    .product-info
                        .product-colors.owl-carousel
                            .product-colors__item
                                .field.color
                                    input(type="radio", name="color9" id="color91", checked)
                                    label(for="color91")
                                        img(src="i/colors/white.jpg", alt="")
                            .product-colors__item
                                .field.color
                                    input(type="radio", name="color9" id="color92")
                                    label(for="color92")
                                        img(src="i/colors/blue.jpg", alt="")
                            .product-colors__item
                                .field.color
                                    input(type="radio", name="color9" id="color93")
                                    label(for="color93")
                                        img(src="i/colors/red1.jpg", alt="")
                            .product-colors__item
                                .field.color
                                    input(type="radio", name="color9" id="color94")
                                    label(for="color94")
                                        img(src="i/colors/violet.jpg", alt="")
                            .product-colors__item
                                .field.color
                                    input(type="radio", name="color9" id="color95")
                                    label(for="color95")
                                        img(src="i/colors/green.jpg", alt="")
                            .product-colors__item
                                .field.color
                                    input(type="radio", name="color9" id="color96")
                                    label(for="color96")
                                        img(src="i/colors/darkgreen.jpg", alt="")
                            .product-colors__item
                                .field.color
                                    input(type="radio", name="color9" id="color97")
                                    label(for="color97")
                                        img(src="i/colors/yellow.jpg", alt="")
                            .product-colors__item
                                .field.color
                                    input(type="radio", name="color9" id="color98")
                                    label(for="color98")
                                        img(src="i/colors/beige.jpg", alt="")
                            .product-colors__item
                                .field.color
                                    input(type="radio", name="color9" id="color99")
                                    label(for="color99")
                                        img(src="i/colors/red1.jpg", alt="")
                            .product-colors__item
                                .field.color
                                    input(type="radio", name="color9" id="color910")
                                    label(for="color910")
                                        img(src="i/colors/green.jpg", alt="")
                        .product-image
                            img(src="i/products/shirt-10.png", alt="")
                        .product-name Jerzees 5.6 oz., 50/50 Heavyweight Blend T-Shirt                            
                        .product-price low as #[span.old $34.70] #[span.new $25.67] #[span.id #617172]
                .products-list__item
                    .product-info
                        .product-colors.owl-carousel
                            .product-colors__item
                                .field.color
                                    input(type="radio", name="color10" id="color101", checked)
                                    label(for="color101")
                                        img(src="i/colors/white.jpg", alt="")
                            .product-colors__item
                                .field.color
                                    input(type="radio", name="color10" id="color102")
                                    label(for="color102")
                                        img(src="i/colors/blue.jpg", alt="")
                            .product-colors__item
                                .field.color
                                    input(type="radio", name="color10" id="color103")
                                    label(for="color103")
                                        img(src="i/colors/red1.jpg", alt="")
                            .product-colors__item
                                .field.color
                                    input(type="radio", name="color10" id="color104")
                                    label(for="color104")
                                        img(src="i/colors/violet.jpg", alt="")
                            .product-colors__item
                                .field.color
                                    input(type="radio", name="color10" id="color105")
                                    label(for="color105")
                                        img(src="i/colors/green.jpg", alt="")
                            .product-colors__item
                                .field.color
                                    input(type="radio", name="color10" id="color106")
                                    label(for="color106")
                                        img(src="i/colors/darkgreen.jpg", alt="")
                            .product-colors__item
                                .field.color
                                    input(type="radio", name="color10" id="color107")
                                    label(for="color107")
                                        img(src="i/colors/yellow.jpg", alt="")
                            .product-colors__item
                                .field.color
                                    input(type="radio", name="color10" id="color108")
                                    label(for="color108")
                                        img(src="i/colors/beige.jpg", alt="")
                            .product-colors__item
                                .field.color
                                    input(type="radio", name="color10" id="color109")
                                    label(for="color109")
                                        img(src="i/colors/red1.jpg", alt="")
                            .product-colors__item
                                .field.color
                                    input(type="radio", name="color10" id="color1010")
                                    label(for="color1010")
                                        img(src="i/colors/green.jpg", alt="")
                        .product-image
                            img(src="i/products/shirt-11.png", alt="")
                        .product-name Jerzees 5.6 oz., 50/50 Heavyweight Blend T-Shirt                            
                        .product-price low as #[span.old $34.70] #[span.new $25.67] #[span.id #617172]
                .products-list__item
                    .product-info
                        .product-colors.owl-carousel
                            .product-colors__item
                                .field.color
                                    input(type="radio", name="color11" id="color111", checked)
                                    label(for="color111")
                                        img(src="i/colors/white.jpg", alt="")
                            .product-colors__item
                                .field.color
                                    input(type="radio", name="color11" id="color112")
                                    label(for="color112")
                                        img(src="i/colors/blue.jpg", alt="")
                            .product-colors__item
                                .field.color
                                    input(type="radio", name="color11" id="color113")
                                    label(for="color113")
                                        img(src="i/colors/red1.jpg", alt="")
                            .product-colors__item
                                .field.color
                                    input(type="radio", name="color11" id="color114")
                                    label(for="color114")
                                        img(src="i/colors/violet.jpg", alt="")
                            .product-colors__item
                                .field.color
                                    input(type="radio", name="color11" id="color115")
                                    label(for="color115")
                                        img(src="i/colors/green.jpg", alt="")
                            .product-colors__item
                                .field.color
                                    input(type="radio", name="color11" id="color116")
                                    label(for="color116")
                                        img(src="i/colors/darkgreen.jpg", alt="")
                            .product-colors__item
                                .field.color
                                    input(type="radio", name="color11" id="color117")
                                    label(for="color117")
                                        img(src="i/colors/yellow.jpg", alt="")
                            .product-colors__item
                                .field.color
                                    input(type="radio", name="color11" id="color118")
                                    label(for="color118")
                                        img(src="i/colors/beige.jpg", alt="")
                            .product-colors__item
                                .field.color
                                    input(type="radio", name="color11" id="color119")
                                    label(for="color119")
                                        img(src="i/colors/red1.jpg", alt="")
                            .product-colors__item
                                .field.color
                                    input(type="radio", name="color11" id="color1110")
                                    label(for="color1110")
                                        img(src="i/colors/green.jpg", alt="")
                        .product-image
                            img(src="i/products/shirt-12.png", alt="")
                        .product-name Jerzees 5.6 oz., 50/50 Heavyweight Blend T-Shirt                            
                        .product-price low as #[span.old $34.70] #[span.new $25.67] #[span.id #617172]
        .products__footer
            .pagination
                ul.pagination__list
                    li.pagination__item.prev-link 
                        a(href="").link
                            svg.pagination-icon
                                use(xmlns:xlink="http:/www.w3.org/1999/xlink",xlink:href="#arrow")
                    li.pagination__item
                        a(href="").link 1
                    li.pagination__item
                        a(href="").link 2
                    li.pagination__item.is-active
                        a(href="").link 3
                    li.pagination__item
                        a(href="").link 4
                    li.pagination__item
                        a(href="").link 5
                    li.pagination__item
                        a(href="").link 6
                    li.pagination__item
                        a(href="").link 7
                    li.pagination__item
                        span ...
                    li.pagination__item
                        a(href="").link 12
                    li.pagination__item.next-link 
                        a(href="").link
                            svg.pagination-icon
                                use(xmlns:xlink="http:/www.w3.org/1999/xlink",xlink:href="#link")
            
