.about-us
    .container
        .about-us__item
            .about-image
                img(src="i/about-1.png", alt="")
            .about-dscr
                .about-title Who we are
                .about-text We’re Garment Decor, we’re family owned, and we’ve been slingin ink for 6 years.
        .about-us__item.mod-reverse
            .about-image
                img(src="i/about-2.png", alt="")
            .about-dscr                
                .about-title What we do
                .about-text We create custom garments. If your looking to design your own, you’ve come to the right place!
        .about-us__item
            .about-image
                img(src="i/about-3.png", alt="")
            .about-dscr                
                .about-title How we do
                .about-text We’ve mastered the craft and we’re excited to be your printer and your partner!
