.faq.js-accordeon
    .faq__title Screen Printing FAQ
    .faq-item
        .faq-item__title.js-accordeon-title.is-open
            .faq-icon
            span What kind of ink do you use?
        .faq-item__content.js-accordeon-content
            .base-text
                p We use the highest quality plastisol inks available. We prefer plastisol inks because they’re exceptionally versatile and very rarely need any kind of adjustments, they do not dry unless properly cured, and they’re very durable. Using plastisol ensures that your shirts will last for years of continued wear and wash.
    .faq-item
        .faq-item__title.js-accordeon-title
            .faq-icon
            span Do you offer water-based inks?
        .faq-item__content.js-accordeon-content
            .base-text
                p We use the highest quality plastisol inks available. We prefer plastisol inks because they’re exceptionally versatile and very rarely need any kind of adjustments, they do not dry unless properly cured, and they’re very durable. Using plastisol ensures that your shirts will last for years of continued wear and wash.
    .faq-item
        .faq-item__title.js-accordeon-title
            .faq-icon
            span Will your screen printing come off in the wash?
        .faq-item__content.js-accordeon-content
            .base-text
                p We use the highest quality plastisol inks available. We prefer plastisol inks because they’re exceptionally versatile and very rarely need any kind of adjustments, they do not dry unless properly cured, and they’re very durable. Using plastisol ensures that your shirts will last for years of continued wear and wash.
    .faq-item
        .faq-item__title.js-accordeon-title
            .faq-icon
            span Do you only print t-shirts?
        .faq-item__content.js-accordeon-content
            .base-text
                p We use the highest quality plastisol inks available. We prefer plastisol inks because they’re exceptionally versatile and very rarely need any kind of adjustments, they do not dry unless properly cured, and they’re very durable. Using plastisol ensures that your shirts will last for years of continued wear and wash.
    .faq-item
        .faq-item__title.js-accordeon-title
            .faq-icon
            span Will you flash your prints on dark color garments?
        .faq-item__content.js-accordeon-content
            .base-text
                p We use the highest quality plastisol inks available. We prefer plastisol inks because they’re exceptionally versatile and very rarely need any kind of adjustments, they do not dry unless properly cured, and they’re very durable. Using plastisol ensures that your shirts will last for years of continued wear and wash.
